
<div id="headerFront">
  <div id="banner" class="banner_top">
    <div id="logo"><%= link_to(image_tag('logo.png', :alt => t('logo.alt')), '/'); %></div>
	<h1><a href="#">GEA <p/><strong>Gestión de la Educación Autónoma </strong></a></h1>
  </div>
</div>

