<% content_for :title do%>
  <%= t('title.web') %>
<%end%>

<%content_for :javascript do%>
  $("#home_li").addClass("selected");
<%end%>

    <section id="home_link_content">
        <article>
            111
        </article>
    </section>
	


