<% content_for :title do%>
  <%= t('title.web') %>
<%end%>

<%content_for :javascript do%>
  $("#homologaciones_li").addClass("selected");
<%end%>

    <section>
        <article>
            homologaciones
        </article>
    </section>