<% content_for :title do%>
  <%= t('title.web') %>
<%end%>

http://www.pindance.com/
http://upm.demos.instructure.com
http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/
    <nav id="toolbar">
        <ul>
            <li>
                <a href=”#”>Home</a>
            </li>
            <li>
                <a href=”#”>About Us</a>
            </li>
            <li>
                <a href=”#”>Feedback</a>
            </li>
            <li>
                <a href=”#”>Contact</a>
            </li>
        </ul>
    </nav>


<div class="page_content">
    <section id="content">
        <article>
            contenido del medio
        </article>
    </section>
</div>



