#full_content {
  background-color: #8FBC8F;
}

#page_content {
  width: 750px;
  min-height: 550px;
  position: absolute;
  padding-left: 5px;
  top: 0px;
  left: 200px; 
z-index: 10;
background-color: white;
border-left: 1px solid #DDD;
border-top: 0px solid #DDD;
border-bottom: 1px solid #CCC;
border-right: 1px solid #CCC;
margin-bottom: 40px;
}

#left-side{
	background-color: #F2F5F7;
	width:200px;
}

#section-tabs {
margin: 0;
padding: 0;
list-style: none;
}

#section-tabs li a {
color: #4B7092;
display: block;
font-size: 14px;
padding: 5px 0 5px 25px;
border-bottom: 1px solid #D0D0D0;
text-shadow: 1px 2px 3px #CBCBCB;
}

#section-tabs li a:hover, #section-tabs li a:focus {
background-color: #DEE2E4;
z-index: 0;
position: static;
text-decoration: none;
}

#section-tabs li.selected {
	position: relative;
background-color: white;
margin-right: -1px;
position: relative;
z-index: 11;
font-size: 20px;
}

