<div id="left-side">
    <nav>
        <ul id="section-tabs">
            <li class="section" id="home_li">
                <a href="/" ><%=t("frontpage.tabs.home")%></a>
            </li>
            <li class="section" id="homologaciones_li">
                <a href="/homologaciones"><%=t("frontpage.tabs.homologations")%></a>
            </li>
            <li class="section" id="cursos_li">
                <a href="/cursos"><%=t("frontpage.tabs.courses")%></a>
            </li>
            <li class="section" id="contacto_li">
                <a href="/contacto"><%=t("frontpage.tabs.contact")%></a>
            </li>
        </ul>
    </nav>
</div>
